<%- include('./partials/header', {user: user}); %>

    <div class="container">
        <h4>Username: <%=user.username%></h4>
        <p><b>Email</b>: <%=user.email%></p>
        <% if(user.accountId) { %>
            <p><b>Riot Account ID</b>: <%=user.accountId%></p>
            <p><b>Summoner ID</b>: <%=user.summonerId%></p>
            <p><b>Linked</b>: True</p>
        <% } else { %>
            <p><b>Linked</b>: False</p>
            <% } %>

        <% champs.forEach((champ) => {  %>
            <h2>Champ ID: <%=champ.championId%></h2>
            <h2>Champ Level: <%=champ.championLevel%></h2>
            <h2>Champ Points: <%=champ.championPoints%></h2>
        <% }) %>
    </div>

<%- include('./partials/footer'); %>